.hand {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    padding: 5px;
    height: auto;
    max-height: 170px;
    left: 0;
    top: 0;
    border-radius: 0 0 10px 10px;

    background: #212434;
}

.deck {
    width: min-content;
    left: 50vw;
    top: 50vh;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(1.2);
    padding: 5px;
    gap: 5px;
}

.player-hand {
    width: min-content;
    max-width: 100vw;
    top: calc(100vh - 100px);
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
}

.player-score { /* Will Remove In Final Game */
    opacity: 0.2;
    display: none;
    color: #fff;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    bottom: calc(50vh - 100px);
    left: 10px;
    margin: 0;
}


.player-wins {
    color: #fff;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    left: 50vw;
    bottom: 180px;
    margin: 0;

    transform: translateX(-50%)
}

.opponent-hand {
    width: min-content;
    max-width: 100vw;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

/* .opponent-hand > .card-outer {
    opacity: 0.2;
} */

.opponent-score {
    opacity: 0.2;
    display: none;
    color: #fff;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    left: 10px;
    top: calc(50vh - 100px);
    margin: 0;
}

.opponent-wins {
    color: #fff;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    left: 50vw;
    top: 180px;
    margin: 0;

    transform: translateX(-50%)
}

.end {
    opacity: 0.2;
}

.card-outer {
    position: relative;
    width: 20vw;
    height: calc(30vw - 5px);
    max-width: 100px;
    max-height: 150px;

    background: #646469;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    transform: scale(1);
    cursor: pointer;
}

.selectable {
    transition: .3s ease-in-out;
}

.selectable:hover {
    transform: translateY(-5px)
}

.not-selectable:hover {
    cursor: not-allowed;
}


.accessible:focus {
    outline: auto;
}

.card-inner {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    
    background: #91919e;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.card-symbol {
    position: absolute;
    margin: 0;
    width: 100%;
    left: 50%;
    top: 50%;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    transform: translate(-50%, -50%);
}