h1 {
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;  
    margin-bottom: 20px;
    text-align: center;

    color: inherit;
}

.message {
    position: absolute;
    left: 50%;
    top: calc(50% - 50px);
    z-index: 2;
    transform: translate(-50%, -50%);
    color: inherit;
    font-family: 'Roboto', sans-serif;

    background: #E96C6C;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    opacity: 0;
}

.message.animated {
    animation: up-and-out 2s linear;
}

@keyframes up-and-out {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) translateX(-50%);
        opacity: 0;
        display: none;
    }
}

.level {
    left: 18px;
    top: 1em;
    position: absolute;
    width: 100px;
    height: 55px;
    padding-left: 10px;

    border: 2px solid #464D6C;
    box-sizing: border-box;
    border-radius: 15px;
}

.level > .level-title {
    position: absolute;
    top: -10px;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    left: 50%;
    transform: translateX(-50%);
}

.level > .level-up {
    position: absolute;
    display: none;
    right: -10px;
    top: -24px;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;

    background: #E96C6C;
    border-radius: 5px;
    transform: rotate(13deg);
    animation: spin 1s infinite ease-in-out;
}

.level > .level-value {
    position: absolute;
    bottom: -10px;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
}

.points {
    right: 18px;
    top: 1em;
    position: absolute;
    width: 100px;
    height: 55px;
    padding-left: 10px;

    border: 2px solid #464D6C;
    box-sizing: border-box;
    border-radius: 15px;
}

.points > .points-title {
    position: absolute;
    top: -10px;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    left: 50%;
    transform: translateX(-50%);
}

.points > .points-up {
    position: absolute;
    display: none;
    right: -10px;
    top: -24px;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;

    background: #E96C6C;
    border-radius: 5px;
    transform: rotate(13deg);
    animation: spin 1s infinite ease-in-out;
}

.points > .points-value {
    position: absolute;
    bottom: -10px;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    left: 0;
    flex-direction: row;
    justify-content: center;
}

.buttons > button {
    background: #3D4260;
    height: 50px;   
    border: none; 
    color: inherit;   
}


.help-button {
    width: 100px;
    border-radius: 10px;
}

.restart-button {
    width: 50px;
    border-radius: 1000px;
    transform: rotate(0)
}

.restart-button > img {
    width: 35px;
    height: 35px;
}

.restart-button:hover {
    transition: 1s;
    transition: 5s;
    transform: rotate(359deg)
}

.exit-button {
    width: 100px;
    border-radius: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(13deg) scale(1);
    }
    50% {
        transform: rotate(20deg) scale(1.1);
    }
    100% {
        transform: rotate(13deg) scale(1);
    }
}