.game-over {
    display: none; 
}

.endscreen.victory { 
    background: #42A539;
    display: block;
}

.endscreen.bust { 
    background: #BD2F2F;
    display: block;
}

.endscreen.tie { 
    background: #B6943E;
    display: block;
}

.level-up-section {
    top: 0;
    left: 0;
    background-color: #EBC500;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    display: none;
    position: absolute;
    border-radius: 5px;
}

.level-up-section-content {
    color: #000 !important;
    font-family: 'Roboto' !important;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FFF;
    transform: translate(-50%, -50%);
    height: calc(60vh + 200px);
    width: calc(90vw - 40px);
    border-radius: 10px;

    z-index: 5;
    box-shadow: 0 0 10px 2px #00000025;
}

@media screen and (min-width: 540px) {
    .level-up-section-content {
        width: 500px;
    }
}

.orange {
    color: #FF7A00 !important;
}

.break {
    width: 116px;
    height: 4px;
    background: #C9C9C9;
    border-radius: 5px;
    margin: calc(1vw + 15px) auto;
    display: block;
}

.level-up-level-next {

}

.banner {
    width: 100%;
    margin-top: calc(2vw + 10px);
    text-align: center;
    padding: calc(.5vw + 5px) 0 !important;
    color: #fff;
}

.level-up-banner {
    background-color: #EBC500;
}

.centered-text {
    width: 80%;
    margin: 5px auto;
    text-align: center;
}

.level-up-section-content > img {
    width: calc(1084px / 5);
    height: calc(843px / 5);
    margin: 10px auto;
    margin-top: 2vw;
    display: block;
}

.level-up-section-content > .level-up-message {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 10px 40px;
    color: #000000;
}

.level-up-section-content > .level-up-level {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
    text-align: center;
    color: #2F2F2F;
}

.reward {
    color: #000 !important;
    font-family: 'Roboto' !important;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    width: calc(300px + 1vh);
    height: calc(345px + 1.5vh);
    border-radius: 5px;
    z-index: 5;
    box-shadow: 0 0 10px 2px #00000025;
}

.reward > img {
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    width: 135px;
    height: 150px;
    image-rendering: pixelated;
}

.reward > .found-message {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    left: 50%;
    top: 170px;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    width: 90%;
}

.reward > .found-message-tier {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    left: 50%;
    top: 135px;
    font-size: 20px;
    transform: translateX(-50%);
    position: absolute;
    color: #000000;
    text-align: center;
    width: 90%;
}

.reward > img.open {
    display: none;
}

.reward > img.fruit {
    width: 60px;
    height: 60px;
    top: 150px;
}

.reward.received {
    transition: 1s;
}

@keyframes rise {
    100% {
        top: 90px;
    }
}

.reward > button {
    position: absolute;
    width: 131px;
    height: 59px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.level-up-section-content > button {
    position: absolute;
    width: 131px;
    height: 59px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.game-over > .endscreen {
    z-index: 2;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    width: calc(300px + 1vh);height: calc(230px + 1.5vh);
    transform: translate(-50%, -50%);
    position: absolute;
}

.endscreen > h1 { 
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;
}

.endscreen > h2 { 
    padding: 0 25px 10px 25px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

.game-over-buttons > button { 
    position: absolute;
    width: 131px;
    height: 59px;
    border: none;

    background: #FFFFFF;
    border-radius: 5px;
}

.game-over-buttons > button.retry {
    left: 5px;
    bottom: 5px
}

.game-over-buttons > button.give-up {
    right: 5px;
    bottom: 5px
}