h1 {
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;  
    margin-bottom: 20px;
    text-align: center;

    color: inherit;
}

section.cards {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

section {
    background: #202333;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-bottom: 8px;
    justify-content: center;
    width: calc(80vw + 35px);
}

section > h2 {
    color: #fff;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

section > p {
    color: #fff;
    margin: 8px auto 5px auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.sign-buttons {
    margin: 20px auto;
    display: block;;
    width: fit-content;
}

.sign-up-button {
    width: 100px;
    height: 50px;
    border: none;
    display: inline-block;
    margin: 10px;
    color: inherit;
    background: #3D4260;
    border-radius: 10px;
}

.sign-in-button {
    width: 100px;
    height: 50px;
    border: none;
    display: inline-block;
    margin: 10px;
    color: inherit;
    background: #3D4260;
    border-radius: 10px;
}

/* Sign Up Screen */
body {
    position: relative;
}

.toggle {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: calc(300px + 1vh);
    background-color: inherit;
    left: 50%;
    bottom: 50vh;
    z-index: 2;

    border-radius: 5px;

    display: none;

    transform: translate(-50%, 50%)
}

.sign-up {
    height: 290px;
}

.sign-in {
    height: 200px;
}

.toggle > h2 {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
    padding: 10px;
    padding-top: 20px;
}

.toggle > p {
    color: #fff;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.toggle > .heading {
    color: #fff;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
}

.toggle > .inputs {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.inputs > input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.toggle > .close {
    position: absolute;
    right: 24px;
    top: 24px;
    transform: none;
    height: 24px;
    padding: 4px;
    width: 24px;
    background-color: #fff;
    color: #000;
    font-weight: 900;
    left: auto;
}

.toggle > button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #077d3a;
    color: inherit;
}

.welcome-content.blur {
    filter: blur(4px);
}

.game-image {
    width: 26.666vw;
    border-radius: 10px;
}

.image > p{
    width: 100%;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}


.images {
    gap: 8px !important
}